<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <!-- <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint 
        name ="v1EndPointOnServiceV1" 
        address ="http://localhost:65479/v1/DemoService.svc" 
        binding ="wsHttpBinding" 
        contract="Demo.V1.IDemoService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" bypassProxyOnLocal="true" transactionFlow="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding bypassProxyOnLocal="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding bypassProxyOnLocal="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled ="true"/>
          <serviceDebug includeExceptionDetailInFaults ="True"/>
          <serviceInterceptors />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <clientBehaviorExtension />
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions >
      <behaviorExtensions>
        <add name="serviceInterceptors" type="...ExtensionElement, Ass"/>
        <add name="ClientBehaviorExtension" type="...ExtensionElement, Ass"/>     
      </behaviorExtensions>
    </extensions>
  </system.serviceModel> -->
</configuration>