<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.serviceModel>
    <!--<bindings>
      <wsHttpBinding>
        <binding sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" bypassProxyOnLocal="true" transactionFlow="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding bypassProxyOnLocal="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding bypassProxyOnLocal="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled ="true"/>
          <serviceDebug includeExceptionDetailInFaults ="true"/>
          <serviceInterceptors />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <clientBehaviorExtension />
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions >
      <behaviorExtensions>
        <add name="serviceInterceptors" type="...ExtensionElement, Ass"/>
        <add name="ClientBehaviorExtension" type="...ExtensionElement, Ass"/>     
      </behaviorExtensions>
    </extensions>-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services>
      <!--<service name="DemWcfService1.DemoService" behaviorConfiguration="StandardBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:65479/v1/DemoService.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="Demo.V1.IDemoService"></endpoint>
      </service>-->
    </services>   
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>